* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 8%;
  margin-right: 8%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(90, 62, 38);
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(90, 62, 38);
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 30px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  gap: 30px;
}
